@import url(https://fonts.googleapis.com/css?family=Rufina:400,700|Raleway:400,700);

body {
  background-image: url('../images/ticks.png');
  font-size:13.5pt;
}

.main {
  margin-top:140px;
  padding-left:40px;
  padding-right:40px;
}
.center {
  text-align: center;
}
.bottom {
  margin-bottom: 1em;
}
.left{
  text-align: left;
}
.block {
  text-align: left;
}
a.trick {
  text-decoration: none;
  border-bottom:1px dashed;
  color: inherit;
}
a.trick: hover{
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
}
h1,h2 {
  font-family: 'Rufina', serif;

}
a {
  color: rgb(148, 19, 19);
}
a:hover {
  color: rgb(182, 50, 50)
}
ul {
  /*padding-left:3em;*/
}
.intro-text {
  margin-bottom: 2em;
}
p.intro {
  margin-bottom: 30px;
}
